In [1]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [5]:
past_load=pd.read_csv("raw/past_load/year_2022.csv")
weather=pd.read_csv("raw/weather/weatherdelhi.csv")
holiday=pd.read_csv("raw/holiday/holidays_2022.csv")

In [6]:
past_load

            DATE  TIMESLOT    DELHI     BRPL    BYPL     NDPL    NDMC    MES
0     01-01-2022  00:00:00  2144.41   860.87  428.55   691.40  117.82  25.93
1     01-01-2022  01:00:00  1839.04   727.39  349.29   609.45  111.57  23.50
2     01-01-2022  02:00:00  1682.70   669.86  316.20   573.91   84.25  22.44
3     01-01-2022  03:00:00  1578.43   627.90  290.02   539.32   79.86  21.11
4     01-01-2022  04:00:00  1584.39   644.04  289.28   542.23   71.18  22.41
...          ...       ...      ...      ...     ...      ...     ...    ...
7744  10-12-2022  07:00:00  2852.01  1199.39  573.20   904.03  120.03  28.24
7745  10-12-2022  08:00:00  3354.54  1402.00  709.99  1045.22  132.66  31.37
7746  10-12-2022  09:00:00  3445.52  1467.49  735.45  1033.79  146.23  29.66
7747  10-12-2022  10:00:00  3775.86  1633.29  773.82  1152.83  151.74  27.70
7748  10-12-2022  11:00:00  3725.10  1574.18  794.12  1146.95  149.58  25.05

[7749 rows x 8 columns]

In [14]:
past_load['datetime']=pd.to_datetime(past_load['DATE']+' '+past_load['TIMESLOT'],dayfirst=True)

past_load.drop(['DATE','TIMESLOT'],axis=1,inplace=True)

In [16]:
past_load.to_csv("raw/past_load/past_load.csv")

In [17]:
past_load_new=past_load

In [29]:
holiday.to_csv("raw/holiday/holidays_2022.csv")

In [30]:
holiday

,Date,Day,Holiday,Holiday Duration,Impact Level,Holiday Proximity,Past Proximity,Future Proximity
0,2022-01-01,Saturday,New Year's Day,1,High,0,0,-12
1,2022-01-13,Thursday,Lohri,1,High,12,12,-1
2,2022-01-14,Friday,Makara Sankranti/Magha Bihu/Pongal,1,High,1,1,-12
3,2022-01-26,Wednesday,Republic Day,1,High,12,12,-10
4,2022-02-05,Saturday,Basant Panchami,1,High,10,10,-24
5,2022-03-01,Tuesday,Maha Sivarathri,1,High,24,24,-16
6,2022-03-17,Thursday,Holika Dahan,1,High,16,16,-1
7,2022-03-18,Friday,Holi,1,High,1,1,-15
8,2022-04-02,Saturday,Chaitra Sukladi/Gudi Padava,1,High,15,15,-8
9,2022-04-10,Sunday,Ram Navami,1,High,8,8,-4
10,2022-04-14,Thursday,Dr.B.R.Ambedkar's Birthday/Mahaveer Jayanthi/V...,1,High,4,4,-1
11,2022-04-15,Friday,Good Friday,1,High,1,1,-18
12,2022-05-03,Tuesday,Eid-ul-Fitr,1,High,18,18,-13
13,2022-05-16,Monday,Budha Purnima,1,High,13,13,-55
14,2022-07-10,Sunday,Bakrid (Eid-ul-Zuha),1,High,55,55,-30
15,2022-08-09,Tuesday,Muharram,1,High,30,30,-2
16,2022-08-11,Thursday,Raksha Bandhan,1,High,2,2,-4
17,2022-08-15,Monday,Independence Day,1,High,4,4,-4
18,2022-08-19,Friday,Janmashtami,1,High,4,4,-12
19,2022-08-31,Wednesday,Vinayaka Chaturthi,1,High,12,12,-32
20,2022-10-02,Sunday,Mahatma Gandhi's Birthday,1,High,32,32,-3
21,2022-10-05,Wednesday,Dussehra,1,High,3,3,-4
22,2022-10-09,Sunday,Milad-un-Nabi,1,High,4,4,-4
23,2022-10-13,Thursday,Karwa Chouth,1,High,4,4,-11
24,2022-10-24,Monday,Diwali,1,High,11,11,-2
25,2022-10-26,Wednesday,Bhai Duj,1,High,2,2,-13
26,2022-11-08,Tuesday,Gurunanak's Birthday,1,High,13,13,-47
27,2022-12-25,Sunday,Christmas,1,High,47,47,0

In [47]:
past_load_new['day'] = past_load_new['datetime'].dt.day.astype(float)
past_load_new['month'] = past_load_new['datetime'].dt.month.astype(float)
past_load_new['year'] = past_load_new['datetime'].dt.year.astype(float)
past_load_new['dayofweek'] = past_load_new['datetime'].dt.dayofweek.astype(float)

In [52]:
past_load

,DELHI,BRPL,BYPL,NDPL,NDMC,MES,datetime,day,month,year,dayofweek,is_weekend
0,2144.41,860.87,428.55,691.40,117.82,25.93,2022-01-01 00:00:00,1.0,1.0,2022.0,5.0,1.0
1,1839.04,727.39,349.29,609.45,111.57,23.50,2022-01-01 01:00:00,1.0,1.0,2022.0,5.0,1.0
2,1682.70,669.86,316.20,573.91,84.25,22.44,2022-01-01 02:00:00,1.0,1.0,2022.0,5.0,1.0
3,1578.43,627.90,290.02,539.32,79.86,21.11,2022-01-01 03:00:00,1.0,1.0,2022.0,5.0,1.0
4,1584.39,644.04,289.28,542.23,71.18,22.41,2022-01-01 04:00:00,1.0,1.0,2022.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7744,2852.01,1199.39,573.20,904.03,120.03,28.24,2022-12-10 07:00:00,10.0,12.0,2022.0,5.0,1.0
7745,3354.54,1402.00,709.99,1045.22,132.66,31.37,2022-12-10 08:00:00,10.0,12.0,2022.0,5.0,1.0
7746,3445.52,1467.49,735.45,1033.79,146.23,29.66,2022-12-10 09:00:00,10.0,12.0,2022.0,5.0,1.0
7747,3775.86,1633.29,773.82,1152.83,151.74,27.70,2022-12-10 10:00:00,10.0,12.0,2022.0,5.0,1.0
7748,3725.10,1574.18,794.12,1146.95,149.58,25.05,2022-12-10 11:00:00,10.0,12.0,2022.0,5.0,1.0

In [55]:
past_load['is_weekend'] = past_load_new['datetime'].dt.dayofweek.isin([5, 6]).astype(float)

In [58]:
past_load.to_csv("raw/past_load/year_2022.csv")