In [1]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [5]:
past_load=pd.read_csv("raw/past_load/year_2022.csv")
weather=pd.read_csv("raw/weather/weatherdelhi.csv")
holiday=pd.read_csv("raw/holiday/holidays_2022.csv")

In [6]:
past_load

            DATE  TIMESLOT    DELHI     BRPL    BYPL     NDPL    NDMC    MES
0     01-01-2022  00:00:00  2144.41   860.87  428.55   691.40  117.82  25.93
1     01-01-2022  01:00:00  1839.04   727.39  349.29   609.45  111.57  23.50
2     01-01-2022  02:00:00  1682.70   669.86  316.20   573.91   84.25  22.44
3     01-01-2022  03:00:00  1578.43   627.90  290.02   539.32   79.86  21.11
4     01-01-2022  04:00:00  1584.39   644.04  289.28   542.23   71.18  22.41
...          ...       ...      ...      ...     ...      ...     ...    ...
7744  10-12-2022  07:00:00  2852.01  1199.39  573.20   904.03  120.03  28.24
7745  10-12-2022  08:00:00  3354.54  1402.00  709.99  1045.22  132.66  31.37
7746  10-12-2022  09:00:00  3445.52  1467.49  735.45  1033.79  146.23  29.66
7747  10-12-2022  10:00:00  3775.86  1633.29  773.82  1152.83  151.74  27.70
7748  10-12-2022  11:00:00  3725.10  1574.18  794.12  1146.95  149.58  25.05

[7749 rows x 8 columns]

In [7]:
holiday

,Date,Day,Holiday,Type,Region,Is National Holiday,Holiday Duration,Impact Level,Holiday Proximity,Past Proximity,Future Proximity
0,2022-01-01,Saturday,New Year's Day,Public,Nationwide,1,1,High,0,0,-12
1,2022-01-13,Thursday,Lohri,Public,Nationwide,1,1,High,12,12,-1
2,2022-01-14,Friday,Makara Sankranti/Magha Bihu/Pongal,Public,Nationwide,1,1,High,1,1,-12
3,2022-01-26,Wednesday,Republic Day,Public,Nationwide,1,1,High,12,12,-10
4,2022-02-05,Saturday,Basant Panchami,Public,Nationwide,1,1,High,10,10,-24
5,2022-03-01,Tuesday,Maha Sivarathri,Public,Nationwide,1,1,High,24,24,-16
6,2022-03-17,Thursday,Holika Dahan,Public,Nationwide,1,1,High,16,16,-1
7,2022-03-18,Friday,Holi,Public,Nationwide,1,1,High,1,1,-15
8,2022-04-02,Saturday,Chaitra Sukladi/Gudi Padava,Public,Nationwide,1,1,High,15,15,-8
9,2022-04-10,Sunday,Ram Navami,Public,Nationwide,1,1,High,8,8,-4
10,2022-04-14,Thursday,Dr.B.R.Ambedkar's Birthday/Mahaveer Jayanthi/V...,Public,Nationwide,1,1,High,4,4,-1
11,2022-04-15,Friday,Good Friday,Public,Nationwide,1,1,High,1,1,-18
12,2022-05-03,Tuesday,Eid-ul-Fitr,Public,Nationwide,1,1,High,18,18,-13
13,2022-05-16,Monday,Budha Purnima,Public,Nationwide,1,1,High,13,13,-55
14,2022-07-10,Sunday,Bakrid (Eid-ul-Zuha),Public,Nationwide,1,1,High,55,55,-30
15,2022-08-09,Tuesday,Muharram,Public,Nationwide,1,1,High,30,30,-2
16,2022-08-11,Thursday,Raksha Bandhan,Public,Nationwide,1,1,High,2,2,-4
17,2022-08-15,Monday,Independence Day,Public,Nationwide,1,1,High,4,4,-4
18,2022-08-19,Friday,Janmashtami,Public,Nationwide,1,1,High,4,4,-12
19,2022-08-31,Wednesday,Vinayaka Chaturthi,Public,Nationwide,1,1,High,12,12,-32
20,2022-10-02,Sunday,Mahatma Gandhi's Birthday,Public,Nationwide,1,1,High,32,32,-3
21,2022-10-05,Wednesday,Dussehra,Public,Nationwide,1,1,High,3,3,-4
22,2022-10-09,Sunday,Milad-un-Nabi,Public,Nationwide,1,1,High,4,4,-4
23,2022-10-13,Thursday,Karwa Chouth,Public,Nationwide,1,1,High,4,4,-11
24,2022-10-24,Monday,Diwali,Public,Nationwide,1,1,High,11,11,-2
25,2022-10-26,Wednesday,Bhai Duj,Public,Nationwide,1,1,High,2,2,-13
26,2022-11-08,Tuesday,Gurunanak's Birthday,Public,Nationwide,1,1,High,13,13,-47
27,2022-12-25,Sunday,Christmas,Public,Nationwide,1,1,High,47,47,0

In [8]:
weather

,datetime (UTC),"coordinates (lat,lon)",temperature (degC),relative_humidity (0-1),total_precipitation (mm of water equivalent)
0,2022-01-01 00:00:00,"(28.557124, 77.083366)",6.51,0.90,0.0
1,2022-01-01 01:00:00,"(28.557124, 77.083366)",6.40,0.91,0.0
2,2022-01-01 02:00:00,"(28.557124, 77.083366)",6.64,0.90,0.0
3,2022-01-01 03:00:00,"(28.557124, 77.083366)",7.03,0.87,0.0
4,2022-01-01 04:00:00,"(28.557124, 77.083366)",8.47,0.84,0.0
...,...,...,...,...,...
8755,2022-12-31 19:00:00,"(28.557124, 77.083366)",9.92,0.89,0.0
8756,2022-12-31 20:00:00,"(28.557124, 77.083366)",8.96,0.91,0.0
8757,2022-12-31 21:00:00,"(28.557124, 77.083366)",9.03,0.91,0.0
8758,2022-12-31 22:00:00,"(28.557124, 77.083366)",8.59,0.93,0.0
8759,2022-12-31 23:00:00,"(28.557124, 77.083366)",8.76,0.93,0.0